<div class="new-nested-action">
<span>!!</span>
<%= f.text_field :title, placeholder: "Another Action...", class: "nested-step-input"  %>
<%= f.text_field :description, placeholder: "Description...", class: "nested-step-input"  %>
</div>
