/ =form_for da = goal.daily_accomplishments.new , remote: true, html: { class: "form", :multipart => true} do |f|
/   =f.hidden_field :goal_id
/   .controls
/     /tag--action/goal
/     .form-group
/       =f.label :tag_tokens, "tag", :class => "control-label token-label"
/       .controls
/         //insert tag form field here
/         =f.text_field :tag_tokens, data: {:load => @post.tags}, :class => "form-control", :placeholder => "#Read50Pages, #Do10PushUps, #IcebucketChallenge", type:"text"    
/     /post
/     =token_tag nil
/     =f.text_area :content, class: "form-control text-center", placeholder: "Created professional looking business cards with my contact info on them", rows: 3        
    
/     /image
/     .fileUpload.btn
/       %span Drag File Here Or Click
/       =f.file_field :image, class: "upload"
/     %img#preview_upload.hidden.row    

/     =f.submit "Upload"