:javascript
  bindings()

-if goal.nil? || goal.completed?
  =link_to "Create Goal", new_goal_path
-else
  %h1=goal.title
  -if daily_accomplishments.count > 0
    -daily_accomplishments.each do |d|
      - if !d.id.nil?
        .accomplishment{:id => "da_#{d.id}"}
          %p=d.content
          =image_tag(d.image.nil?  ? '/assets/user-placeholder.png': d.image.url(:medium), :alt => "picture of accomplishment", class: "circle-image")
          %button{:id => "edit_da_#{d.id}"} Edit
        .hidden{:id => "edit_form_#{d.id}"}
          =form_for d , remote: true, html: { class: "form"} do |f|
            =f.hidden_field :goal_id
            .controls
              =f.text_area :content, class: "form-control text-center", placeholder: "Created professional looking business cards with my contact info on them", rows: 3
              .fileUploadWithImage.btn{ :style => "background: url(#{d.image.url(:medium)}) no-repeat;" }
                =f.file_field :image, class: "upload"
              %img#preview_upload.hidden.row
              =token_tag nil
              %br
              =f.submit "Edit"
  -if goal.daily_accomplishments.where("created_at >= ?", Time.zone.now.beginning_of_day).count == 0
    =form_for da , remote: true, html: { class: "form", :multipart => true} do |f|
      =f.hidden_field :goal_id
      .controls
        =f.text_area :content, class: "form-control text-center", placeholder: "Created professional looking business cards with my contact info on them", rows: 3
        .fileUpload.btn
          %span Drag File Here Or Click
          =f.file_field :image, class: "upload"
        %img#preview_upload.hidden.row
        =token_tag nil
        =f.submit "Upload"