.as-leader
  %h1=@user.name


.leader-pic
  /put image here
  /round border
  
%h1 This Week's Goal
.leader-task

%h1 Leave me a comment
.leader-comments

.leader-favs

%h1 Watch Me
.leader-vids

%h1 A Picture's worth a thousand words
.leader-photos