.user-list-card
  .row
    .col-lg-12
      .link-container       
        .user-list-card-image
          =link_to image_tag(user.assets.empty?  ? '/assets/user-placeholder.png': user.assets.first.image.url(:medium), :alt => user.name, class: "circle-image"), user_path(user)
        .user-card-details
          =link_to user.name, user_path(user), class: 'user-list-card-name'
          %p=truncate(user.bio,20)
    
    /make whole card linkable
    %a{href: "#{user_path(user)}" }
      %span.user-list-card-link-spanner
      
