.row
  .col-lg-3
    =link_to image_tag(@user.assets.empty?  ? '/assets/user-placeholder.png': @user.assets.first.image.url(:medium), :alt => @user.name, class: ""), user_path(@user)
  .col-lg-9
    %h2
      =@user.name
      
      -if current_user && current_user == @user
        =link_to "Edit Details", edit_user_registration_path(current_user), style:"font-size:50%"
        -if @user.leader?
          
          =link_to "Your Dashboard", leader_dashboard_path, style:"font-size:50%"
      - unless current_user == @user
        #follow_form
          - if current_user.following?(@user)
            = render 'unfollow'
            
          - else
            /= render 'follow'
            -unless @task.nil?
              =link_to "Join the Following", new_task_submission_path(task_id: @task.id), class: "btn btn-large btn-primary make-button"
          
    %p.occupation=@user.occupation    
    /SOCIAL MEDIA BUTTONS
    .row
      .col-lg-5
        %p=@user.bio
    
    

    /FOLLOWER OF THE WEEK
    
    /YOUR FOLLOWING
    -if @followers
      %h3 Leader's Followers:
      -@followers.each do |f|
        %p=f.name
    
    /BADGES?
    
    /PHOTO ALBUM
    
    
    
    /MORNING ROUTINE
    
    
    /SPONSORS? - maybe some companies want to sponsor these community leaders because kids will be looking up to them