/VERSION 2

.row
  .col-lg-2
  .user-card-container
    .col-lg-8.user-card
      /add top 3 activities right now
    
      .text-center
      
        %h1.name
          =@user.name
        -if current_user && current_user == @user
          %span=link_to "Edit Details", edit_user_registration_path(current_user)
      .profile-pic
        .round-border
          .round.round-center
            -if @user.profile_photo_file_name
              
              =image_tag(@user.profile_photo.nil?  ? '/assets/user-placeholder.png': @user.profile_photo.url(:medium), :alt => @user.name, class: "circle-image")
            -else
              
              =image_tag(@user.assets.empty?  ? '/assets/user-placeholder.png': @user.assets.first.image.url(:medium), :alt => @user.name, class: "circle-image")
      / .occupation-follow
      /   %p.occupation=@user.occupation    
      .text-center 
        .story
          .story-header
            %p
              WHERE I WANT TO BE IN 5 YEARS
          .story-text#ambition
            =render partial: 'ambition', locals: {user: @user}
            /%p=@user.ambition
            / -if current_user && current_user == @user
            /   %span.text-center.edit-link=link_to "Edit Details", edit_user_registration_path(current_user)
          
            
            
            / -if @user.leader?
            /   =link_to "Your Dashboard", leader_dashboard_path, style:"font-size:50%"
          =render partial: 'shared/follow', locals: {user: @user}  
          
        /CURRENT ACTIVITIES
        /List them
        /Highlight 1
        .story
          .story-header
            %p
              WHAT I'M DOING TO GET THERE
              / -if current_user && current_user == @user
              /   %span=link_to "Edit Details", edit_user_registration_path(current_user)
          .story#activities
            =render partial: 'current_activities', locals: {user: @user, activities: @activities}

            
            
            
        /PHOTOS    
        / -if current_user && current_user == @user
        /   =link_to "Add Photos", new_album_path
        /   =link_to "Edit Photos", albums_path     

        
        
        /Most important accomplishment this month

        /History of accomlishments
      
        .story
          .story-header
            %p
              WHO I AM
              / -if current_user && current_user == @user
              /   %span=link_to "Edit Details", edit_user_registration_path(current_user)
          .story#bio
            =render partial: 'bio', locals: {user: @user}
            /%p=@user.bio 

      

        /YOUR FOLLOWING
        .story
          .story-header
            %p WHO BELIEVES IN ME
            /have a "share profile" link or something to post on facebook
          
          - unless current_user == @user
            .follow_form
              - if current_user && current_user.following?(@user)
                = render 'unfollow'

              - elsif current_user.nil?
                =link_to "I BELIEVE", new_user_registration_path, class: "btn btn-large make-button follow-button"
              -else
                = form_for(current_user.followships.build(followed_id: @user.id), remote: true) do |f|
                  %div
                    = f.hidden_field :followed_id
                  = f.submit "I BELIEVE", class: "btn btn-large follow-button"
          %br/
          
          .following
            -if current_user && current_user == @user
              //invite people
            
            #followers
              =render partial: 'followers', locals: {followers: @followers}

      
