%h3 Lists
%ul
  -@trending_lists.each do |tl|
    %li
      %a.list-pretty-link{href:"#{list_path(tl)}"}
        %span ~
        =tl.title

  %li
    -if current_user
      =link_to "+ Create a List", new_list_path, id: "create_list"
    -else
      =link_to "+ Create a List", new_user_registration_path, id: "create_list"