%h3 Trending Actions
%ul
  %li
    %a.pretty-link.bangbang-pretty-link{href:"/bangbang/1"}
      %span.bangbang !!
      %span.action
        ReadCh10
        //%span.list //EloquentJavascript

  %li
    %a.pretty-link.bangbang-pretty-link
      %span.bangbang !!
      %span.action
        Duolingo2000pts
  %li
    %a.pretty-link.bangbang-pretty-link
      %span.bangbang !!
      %span.action
        Run5Miles