%h3 Lists
%ul
  %li
    =link_to @trending_list.title, list_path(@trending_list), class: "list-pretty-link"

  %li
    %a.list-pretty-link
      %span //
      LearnSpanish
  %li
    %a.list-pretty-link
      %span //
      RunAMarathon
  %li
    =link_to "+ Create a List", new_list_path