%h3 Lists
%ul
  %li
    %a.list-pretty-link
      %span //
      BuildAWebsite
  %li
    %a.list-pretty-link
      %span //
      LearnSpanish
  %li
    %a.list-pretty-link
      %span //
      RunAMarathon
  %li
    %a + Create a List