.col-lg-3
.col-lg-6.about
  .about-mast
    %h1.text-center.about-header Tell Your Story
    %h1.text-center.about-header Broadcast Your Ambition
    %h1.text-center.about-header Receive Guidance
    
    
  
  //lines?
  .about-explain.text-center
    %p We find diamonds in the rough and make them shine.
    %p Tell your story on Ambition Spotlight, and imagine where you want to go. We will help you get there.
    %p This is for all those people who are striving to do something great with their lives no matter their circumstances, where they were born, or what school they attended, and certainly no matter what anybody else tells them they will or will not achieve.
    %p
      Whether you grew up in East Palo Alto with nothing, or grew up across the freeway in Palo Alto with everything,
      %span.bold you have great potential.
      It just needs to be realized.
  .landing-buttons.text-center
    =link_to "Take Your First Step Now", new_user_registration_path, class: "btn btn-large btn-primary make-button landing-button"
  
  
  
  .icons
    %span.AS-stack.AS-lg


  /   %span.AS-stack.AS-lg
  /   %i.AS.AS-circle.AS-stack-2x
  /   %i.AS.AS-flag.AS-stack-1x.AS-inverse

  /   %span.AS-stack.AS-lg
  /     %i.AS.AS-square.AS-stack-2x
  /     %i.AS.AS-terminal.AS-stack-1x.AS-inverse
  /   %span.AS-stack.AS-lg
  /     %i.AS.AS-camera.AS-stack-1x
  /     %i.AS.AS-ban.AS-stack-2x.text-danger

  %p.text-center Founded in East Palo Alto
  / .about-story.text-center
  /     %h2.text-center Diamonds in the Rough
  / 
  /     %p In this world there exists an exclusive class of rich and powerful people.
  / 
  /     %p These people are not driving around in Ferraris, gracing the pages of the Forbes 400, or making plays on national television in front of thousands of adoring fans.
  / 
  /     %p Not yet.
  / 
  /     / %p These are the people who grew up in an impoverished community like East Oakland and despite their surroundings were able to excel in academics, art, music, or sports. These are the people like 
  /     
  /     %p These people are rich in confidence and empowered by their ambition.
  /     
  /     %p They are those who are striving to do something great with their lives no matter their circumstances, their parents' education or salary, and certainly no matter what anybody else tells them they will or will not achieve.
  /     
  /     
  / 
  /     %p This class of people includes you. Ambition Spotlight helps you get there.
  / 
  /     / %p Exclusive: only those who are willing to wake up every morning and work towards their goals
  /     / %p Rich: having a wealth of self-confidence, drive, and desire
  /     / %p Powerful: able to make tangible progress day in day out by following your intuition and using the tools provided by AmbtionSpotlight
  /     %p We turns dreamers into doers
  / 
  /     %p Imagine yourself among the ranks of ambitious, talented people marching on the path of success. 
  /     %p Ambition Spotlight gets you there because we know ambition. We know success. Our beautifully designed profiles tell your story and give you a megaphone to broadcast your ambitions to the world so that you can receive guidance. And for the most promising among you, we provide White Glove Services to help you day-by-day achieve your goals.
  /   
    