.col-lg-3
.col-lg-6.about
  %h1.text-center Diamonds in the Rough

  %p In this world there exists an exclusive, rich, and powerful class of people.

  %p These people are not driving around in Ferraris, gracing the pages of the Forbes 400, or making plays on national television in front of thousands of adoring fans.

  %p Not yet.

  / %p These are the people who grew up in an impoverished community like East Oakland and despite their surroundings were able to excel in academics, art, music, or sports. These are the people like 
  
  %p This class of people includes all those who are striving to do something great with their lives, no matter their circumstances, no matter their parents' education or salary, and certainly no matter what anybody else tells them they will or will not achieve.

  %p This class of people includes you. And we are here to help you realize it.

  / %p Exclusive: only those who are willing to wake up every morning and work towards their goals
  / %p Rich: having a wealth of self-confidence, drive, and desire
  / %p Powerful: able to make tangible progress day in day out by following your intuition and using the tools provided by AmbtionSpotlight

  %p AmbitionSpotlight creates opportunities for you and gives you the tools necessary to firmly plant yourself among the ambitious, talented, capable legions of people marching on the path of success.
  
  %h3.text-center Founded in East Palo Alto
  
  //lines?
  .text-center
    %h1 Team
    .row
      .col-lg-6
        -if @david
          .profile-pic
            .round-border
              .round.round-center          
                =link_to image_tag(@david.assets.empty?  ? '/assets/user-placeholder.png': @david.assets.first.image.url(:medium), :alt => @david.name, class: "circle-image"), user_path(@david)
          %h3 David Chatman
          %p Founder
      .col-lg-6
        -if @brian
          .profile-pic
            .round-border
              .round.round-center          
                =link_to image_tag(@brian.assets.empty?  ? '/assets/user-placeholder.png': @brian.assets.first.image.url(:medium), :alt => @brian.name, class: "circle-image"), user_path(@brian)
          %h3 Brian Joseff
          %p Founder
  