.admin-page
  %h1 User Count: #{@users.count}
  %div
    -@leaders.each do |leader|
      %h2=leader.name
 
      -if leader.spotlight
        %p=leader.spotlight.active
        =form_for leader.spotlight, url: spotlight_path(leader.spotlight) do |f|
          =hidden_field_tag 'user_id', leader.id
          =f.file_field :image, type: "file"
    
          =f.submit
      -else
        =form_for leader.build_spotlight do |f|
          =hidden_field_tag 'user_id', leader.id
          =f.file_field :image, type: "file"
    
          =f.submit
  %div
    %table
      -@users.each do |u|
        %tr
          = form_for(u, url: update_rating_user_path(u), html: { method: :put }) do |f|
            %td
              =u.name
            %td
              =f.hidden_field :id
              =f.number_field :rating
            %td
              =f.submit "Update Rating"