<span class="AS-stack AS-lg">
  <i class="AS AS-square-o AS-stack-2x"></i>
  <i class="AS AS-person AS-stack-1x"></i>
</span>
AS-twitter on AS-square-o<br>
<span class="AS-stack AS-lg">
  <i class="AS AS-circle AS-stack-2x"></i>
  <i class="AS AS-pokemon AS-stack-1x AS-inverse"></i>
</span>
AS-flag on AS-circle<br>
<span class="AS-stack AS-lg">
  <i class="AS AS-square AS-stack-2x"></i>
  <i class="AS AS-brian AS-stack-1x AS-inverse"></i>
</span>
AS-terminal on AS-square<br>
<span class="AS-stack AS-lg">
  <i class="AS AS-camera AS-stack-1x"></i>
  <i class="AS AS-star AS-stack-2x text-danger"></i>
</span>
AS-ban on AS-camera