.container
  .row
    .col-lg-3.lists-sidebar
      .trending.card
        %h1 Trending Actions
        %ul
          %li
            %a.pretty-link.bangbang-pretty-link
              %span !!
              ReadCh10
              //%span.list //EloquentJavascript

          %li
            %a.pretty-link.bangbang-pretty-link
              %span !!
              Duolingo2000pts
          %li
            %a.pretty-link.bangbang-pretty-link
              %span !!
              Run5Miles      
      /Lists
      /render top 5 lists
      .lists.card
        %h1 Lists
        %ul
          %li
            %a.list-pretty-link
              %span //
              BuildAWebsite
          %li
            %a.list-pretty-link
              %span //
              LearnSpanish
          %li
            %a.list-pretty-link
              %span //
              RunAMarathon
          %li
            %a + Create a List
      /Leaders
      /render top 5 lists
      .leaders.card
        %h1 Local Leaders
        %ul
          %li
            %a.list-pretty-link Juan Torres
          %li
            %a.list-pretty-link Malik Ali
          %li
            %a.list-pretty-link Brock Johnson

    .col-lg-8
      #feed
        #post_field
          =form_for @post, html:{remote: true} do |f|
            =text_area_tag :query, params[:query], id: "post_goals", class: 'form-control action-input', placeholder: 'What actions did you take today?', name:"post[content]", rows: 3
            #hidden_fields
            /search--if found, log tag_id. if NOT found, create new tag, log new_tag_id
            /on post submission, create tagging and create post
            = button_tag "Stay Up", class: 'btn btn-default'


        #posts  
          =render partial: "posts/post", collection: @posts