.container
  .row
    .col-lg-3.lists-sidebar
      /Lists
      /render top 5 lists
      .lists.card
        %h1 Lists
        %ul
          %li // BuildAWebsite
          %li // LearnSpanish
          %li // RunAMarathon
          %li
            %a + Create a List
      .trending.card
        %h1 Trending Actions
        %ul
          %li !! EloquentJavascript-ReadCh10
          %li !! Duolingo2000pts
          %li !! Run5Miles
    .col-lg-8
      #feed
        #post_field
          =form_for @post, html:{remote: true} do |f|
            =text_area_tag :query, params[:query], id: "post_goals", class: 'form-control action-input', placeholder: 'What actions did you take today?', name:"post[content]", rows: 3
            #hidden_fields
            /search--if found, log tag_id. if NOT found, create new tag, log new_tag_id
            /on post submission, create tagging and create post
            = button_tag "Stay Up", class: 'btn btn-default'


        #posts  
          =render partial: "posts/post", collection: @posts