.container
  .row
    .col-lg-3.sidebar
      /Trending Actions
      .trending.card
        =render 'trending_actions'
      
      /Lists
      /render top 3 lists
      .lists.card
        =render 'trending_lists'
      
      /Leaders
      /render top 3 local leaders
      .leaders.card
        =render 'local_leaders'

    .col-lg-8
      #feed
        =render partial: "posts/post_form", locals: {post: @post}



        #posts  
          =render partial: "posts/post", collection: @posts