.container
  .row
    .col-lg-3.sidebar
      =render 'layouts/sidebar'

    .col-lg-8
      #feed
        =render partial: "posts/post_form", locals: {post: @post}



        #posts  
          =render partial: "posts/post", collection: @posts