/ .row
/ 
/   %h1.spotlight.text-center Spotlight
/   
/   -@users.each do |user|
/     .col-lg-3.text-center
/       
/       =link_to image_tag(user.assets.empty?  ? '/assets/user-placeholder.png': user.assets.first.image.url(:medium), :alt => user.name, class: ""), user_path(user)
/       %h3=link_to user.name, user_path(user)
/ 

.container
  .row
    .col-lg-2
    .col-lg-8
      #feed
        #post_field
          =form_for @post, html:{remote: true} do |f|
            =text_area_tag :query, params[:query], id: "post_goals", class: 'form-control action-input', placeholder: 'What actions did you take today?', name:"post[content]", rows: 3
            #hidden_fields
            /search--if found, log tag_id. if NOT found, create new tag, log new_tag_id
            /on post submission, create tagging and create post
            = button_tag "Stay Up", class: 'btn btn-default'



        #posts  
          =render partial: "posts/post", collection: @posts