/ .row
/ 
/   %h1.spotlight.text-center Spotlight
/   
/   -@users.each do |user|
/     .col-lg-3.text-center
/       
/       =link_to image_tag(user.assets.empty?  ? '/assets/user-placeholder.png': user.assets.first.image.url(:medium), :alt => user.name, class: ""), user_path(user)
/       %h3=link_to user.name, user_path(user)
/ 

.container
  #myCarousel.carousel.slide{"data-ride" => "carousel"}
    / Wrapper for slides
    .carousel-inner

              
      / FLopez
      .item.active.leaderimg
        %img.leaderimg{:src => "http://i.imgur.com/xBpnpAs.jpg"}
          .carousel-caption
            %h4
              =link_to @users.first.name, user_path(@users.first)
            %p=@users.first.bio
      
      -@users[1..-1].each do |user|
        .item.leaderimg
          %img.leaderimg{:src => "http://i.imgur.com/xBpnpAs.jpg"}
            .carousel-caption
              %h4
                =link_to user.name, user_path(user)
              %p=user.bio
      / End Item
      / / Lettle
      /       .item.leaderimg
      /         %img.leaderimg{:src => "http://i.imgur.com/KjrOEHy.jpg"}
      /           .carousel-caption
      /             %h4
      /               %a{:href => "#"} Daniel "Lettle" Nava: Mega talent based out of East Palo Alto this young mans ambition is only limted to the hours in the day.
      /             %p This is were the short bio goes but the only problem is you can only view this when your on a wide-screen
      /       / End Item
      /       / Sergio
      /       .item.leaderimg
      /         %img.leaderimg{:src => "http://i.imgur.com/usyqGFP.jpg"}
      /           .carousel-caption
      /             %h4
      /               %a{:href => "#"} Sergio Florez: Short quote form leader Have link to leaders page
      /             %p This is were the short bio goes but the only problem is you can only veiw this when your on a wide-screen
      /       / End Item
      /       / Tyrus
      /       .item.leaderimg
      /         %img.leaderimg{:src => "http://i.imgur.com/MXhImWQ.jpg"}
      /           .carousel-caption
      /             %h4
      /               %a{:href => "#"} Tyrus Whitehead: Short quote from leader Have link to leaders page
      /             %p This is were the short bio goes but the only problem is you can only veiw this when your on a widescreen
      /       / End Item
      /       / The King
      /       .item.leaderimg
      /         %img.leaderimg{:src => "http://i.imgur.com/k8LoFiE.jpg"}
      /           .carousel-caption
      /             %h4
      /               %a{:href => "#"} Nikko "The King" Jackson: Short quote from Leader Have link to leaders page
      /             %p This is were the short bio goes but the only problem is you can only veiw this when your on a wide-screen
      /       / End Item
      /     / End Carousel Inner
    
    %ul.list-group.col-sm-4
      %li.list-group-item.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %h4=@users.first.name
      -@users[1..-1].each_with_index do |user, index|
        %li.list-group-item{"data-slide-to" => index+1, "data-target" => "#myCarousel"}
          %h4=user.name
 
      / %li.list-group-item.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      /        %h4 Freddy "Flopez" Lopez breaking barries with his unique lyrics and delivery on the mic.
      /      %li.list-group-item{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      /        %h4 Daniel "Lettle" Nava yet to find his breaking point as he strives to take his talents to new heights.
      /      %li.list-group-item{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      /        %h4 Sergio Florez yet to be held back by his age he has showed the hunger and ambition for success.
      /      %li.list-group-item{"data-slide-to" => "3", "data-target" => "#myCarousel"}
      /        %h4 Tyrus Whitehead from East Palo Alto to Ohio what he had to overcome to get to where he is, is truely insperational.
      /      %li.list-group-item{"data-slide-to" => "4", "data-target" => "#myCarousel"}
      /        %h4 Nikko "The King" Jackson looking to take his talents to new heights as he prepares to fight in London.
    / Controls
    .carousel-controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-right
  / End Carousel
