.container.landing
  .row
    .col-lg-8
      .split-landing-hero-text.pull-left
        %h1 TAKE ACTION
        %h2 Stop talking the talk, and start walking the walk
    .col-lg-4

      / .intro-message
      /   %h1 Take Action.
      /   %h2 Find your path here and get going
      .sign-up-in.text-center
        =render 'sign_up_landing_form'

        

    / .text-center.footer-social
    /   %p Follow us on #{link_to 'Facebook', "https://www.facebook.com/ambitionspotlight"} and #{link_to 'Twitter', "https://twitter.com/dreamers2doers"}