
.container
  .row
    .col-lg-12
      .intro-message
        %h1 Ambition Spotlight
        %h3 We Find Diamonds In The Rough & Help Them Shine.
        / .row
        /   .col-sm-3
        /   .col-sm-5
        /     .landing-buttons
        /       =link_to "Get Your Page Now", new_user_registration_path, class: "btn btn-large btn-primary make-button landing-button"
        /       =link_to "View Leaders", leaders_path, class: "btn btn-large btn-primary make-button landing-button"
        
        %hr.intro-divider
          %ul.list-inline
            %li.landing-buttons.landing-first
              =link_to "Get Your Page Now", new_user_registration_path, class: "btn btn-large btn-primary make-button landing-button"
        
            %li.landing-buttons.landing-second
              /=link_to "View Leaders", leaders_path, class: "btn btn-large btn-primary make-button landing-button"
              %a{href:"leaders", class: "btn btn-large btn-primary make-button landing-button"}
                
                %i.glyphicon.glyphicon-user
                View Leaders
