
.container
  .row
    .col-lg-12
      .intro-message
        %h1 Ambition Spotlight
        %h3 We Find Diamonds In The Rough & Help Them Shine.
        %hr.intro-divider
          %ul.list-inline.intro-social-buttons
            %li
              %a.signuptxt.btn.btn-default.btn-lg{:href => "#{new_user_registration_path}"}
                %i.glyphicon.glyphicon-pencil>
                Sign up
            / %li
            /   %a.signintxt.btn.btn-default.btn-lg{:href => ""}
            /     %i.glyphicon.glyphicon-pencil
            /     Sign In
            %li
              %a.signintxt.btn.btn-default.btn-lg{:href => "leaders"}
                %i.glyphicon.glyphicon-user>
                View Leaders