@import "variables";
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],, textarea{
  background: $white ;
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid $grey;
  color: $black;
  
  font-weight: normal;
  padding: 6px;
  vertical-align: top;
  &:hover{
    border-bottom: 1px solid $blue;
    outline: 0;
  }
}

input:focus, textarea:focus, input:active, textarea:active{
    background: $superLightGrey;
    border-bottom: 2px solid $blue;
    outline: none;
}

