.row
  .col-lg-3
  .col-lg-5.sign-up-in.text-center
    /%h1 Sign in
    /%span.facebook-signin #{link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)} 
    =form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form", id: "session"}, :builder => Judge::FormBuilder) do |f|
      /=render "shared/error_messages", :target => @user
      .form-group
        =f.label :email, :class => 'control-label'
        .controls
          =f.text_field :email, type: "text", :class => "form-control text-center", :placeholder => "hello@mom.com", :validate => true
      .form-group
        =f.label :password, :class => 'control-label'
        .controls
          =f.password_field :password, type: "password", :class => "form-control text-center", :placeholder => "Password"


      .spotlight-button.text-center
        =f.submit "Sign in", class: "btn btn-large make-button landing-button"
    .shared-links
      = render "devise/shared/links"