.user-goal
  -if current_user && current_user === @user
    -if @user.goals.first
      %h1=@user.goals.first.title
      /=link_to "Edit", edit_goal_user_path(@user), remote:true, class: "user-edit-button"
      =render partial: 'users/daily_accomplishments', locals: {goal: @goal, daily_accomplishments: @daily_accomplishments}
    -else
      = form_for(@goal, remote: true, format: :js, html: {class: ""}) do |f|
        #error_explanation{:style => "display:none;"}
          %ul
            - if @user.errors.any?
              - @user.errors.full_messages.each do |msg|
                %li= msg
        
        .controls   
          = f.text_field :title, type:"text",autofocus: true, class: "form-control text-center", :placeholder => "Finish my first coding tutorial"     
        .submit
          = f.submit "Update", class: ""
  -else
    %p=@user.goals.first