/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

h1, h2, h3, p, label, input, textarea{
/*	color: #ebebeb;*/
	font-weight: 300;
	letter-spacing: 1px;
}

h1{
	font-size: 250%;
	
}

$default-font-size: 120%;
p{
	font-size: $default-font-size;
}
button[type=submit]{
	font-size: 120%;
}

$font-size: 120%;

::-webkit-input-placeholder {
    font-size: $font-size;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: $font-size;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: $font-size;
}

:-ms-input-placeholder {  
   font-size: $font-size;
}


input.form-control-big{
  font-size: 120%;
}

a{
	font-weight: 300;
	letter-spacing: 1px;
}

/*body{
background-color: rgb(34,34,34);
padding-bottom: 200px;
}*/

html, body {
    height: 100%;
}
.overlay{
position: fixed;
left: 0px;
top: 0px;
right: 0px;
bottom: 0px;
overflow-y:scroll;
box-shadow: inset 0 0 300px #000;
}

body{
	background-color: #333;
}

.background-cloak{
	width:100%;
	height: 100%;
	background-color: black;
	opacity: .25;
	position:absolute;
	top:0;
	left:0;
	
	
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 100px; /* .push must be the same height as .footer */
}

.content{
	padding-top:65px;
}



.alert{
	color: red;
	margin-bottom:0px;
	padding: 0px;
}
.notice{
	color: #27ae60;
	padding-top: 5px;
}

.bold{
  font-weight: bold;
}

