.controller-specific-style-index, .controller-specific-style-show{
  .container{    
  }
  background-color: #ffffff;
  .sidebar{
    h3{
      font-size: 14px;
      font-weight: 100;
      letter-spacing: .1em;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
    ul{
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
      li{
        padding-top: 5px;
        font-size: 120%;
      }
    }
    .trending{
      
    }
    .lists{
      margin-top: 30px;
    }
    .leaders{
      margin-top: 30px;
    }
  }
  
  .overlay{
    box-shadow: none;
  }
}
.card{
  /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  padding: 10px;
}
#feed{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
}
#post_field{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  border-bottom: solid 1px #C4C4C4;
  background-color: rgba(92,92,92, 0.15);

  padding: 10px;
  .action-input{
    margin-bottom: 10px;
  }
}

#posts{
  background-color: rgba(255,255,255, 0.85); 
}
.pretty-link{

}
a.pretty-link:hover{
  span{
    text-decoration: none !important;
  }
}
.tag-pretty-link{

}
.bangbang-pretty-link{
  font-weight: 400;
  color: #333;
  span{
    font-weight: 900;
    /*color:#6e6e6e;*/
    margin-right: -4px;
  }
  span.list{
    color: #cfcfcf;
    font-weight: 400;
  }
}
a.bangbang-pretty-link:hover{
  color: #333;
  /*darker: AD3D00*/
  text-shadow: 0px 0px 2px rgba(115, 235, 250, 0.75);
  span{
    text-decoration: none !important;
  }
}
.list-pretty-link{
  font-weight: 400;
  color: #333;
  
  span{
    margin-right: -4px;
    font-weight: 900;
    /*color:#6e6e6e;*/
  }
}
.list-pretty-link:hover{
  text-shadow: 0px 0px 2px rgba(18, 77, 255, 0.75);
  span{

  }
}
.mention-pretty-link{
}    

.post{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-bottom: solid 1px #C4C4C4
}

.post:hover{
  background-color: rgba(255, 255, 255, 0.90);
}