@import "variables";
.controller-specific-style-index, .controller-specific-style-show, .controller-specific-style-lists {
  .container{    
  }
  background-color: $lightGrey;
  .sidebar{
    h3{
      font-size: 14px;
      font-weight: 100;
      letter-spacing: .1em;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
    ul{
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
      li{
        padding-top: 5px;
        font-size: 120%;
      }
    }
    .trending{
      
    }
    .lists{
      margin-top: 30px;
    }
    .leaders{
      margin-top: 30px;
    }
  }
  
  .overlay{
    box-shadow: none;
  }
}
.card{
  /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  padding: 15px;
  background-color: $white;
}
#feed{
  background-color: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
}
#post_field{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  border-bottom: solid 1px #C4C4C4;
  
  background-color: $white;
  // background-color: rgba(92,92,92, 0.15);
  // background: rgba(247,37,0,1);
  // background: -moz-linear-gradient(-45deg, rgba(247,37,0,1) 0%, rgba(255,54,28,1) 13%, rgba(245,86,12,1) 31%, rgba(240,110,24,1) 58%, rgba(255,150,112,1) 100%);
  // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247,37,0,1)), color-stop(13%, rgba(255,54,28,1)), color-stop(31%, rgba(245,86,12,1)), color-stop(58%, rgba(240,110,24,1)), color-stop(100%, rgba(255,150,112,1)));
  // background: -webkit-linear-gradient(-45deg, rgba(247,37,0,1) 0%, rgba(255,54,28,1) 13%, rgba(245,86,12,1) 31%, rgba(240,110,24,1) 58%, rgba(255,150,112,1) 100%);
  // background: -o-linear-gradient(-45deg, rgba(247,37,0,1) 0%, rgba(255,54,28,1) 13%, rgba(245,86,12,1) 31%, rgba(240,110,24,1) 58%, rgba(255,150,112,1) 100%);
  // background: -ms-linear-gradient(-45deg, rgba(247,37,0,1) 0%, rgba(255,54,28,1) 13%, rgba(245,86,12,1) 31%, rgba(240,110,24,1) 58%, rgba(255,150,112,1) 100%);
  // background: linear-gradient(135deg, rgba(247,37,0,1) 0%, rgba(255,54,28,1) 13%, rgba(245,86,12,1) 31%, rgba(240,110,24,1) 58%, rgba(255,150,112,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f72500', endColorstr='#ff9670', GradientType=1 );
  padding: 10px;



  .open-fileUpload{
    margin-top: 0;
    margin-bottom: 0;
    top: 12px;
    font-size: 200%;
    padding-left: 25px;
    color: $black;
  }
  .action-input{
    margin-bottom: 10px;
  }
}

#posts{
  background-color: rgba(255,255,255, 0.85); 
}
.pretty-link{

}
a.pretty-link:hover{
  span{
    text-decoration: none;
  }
}
.tag-pretty-link{

}
.bangbang-pretty-link{
  font-weight: 400;
  color: #333;
  span.bangbang{
    font-weight: 900;
    /*color:#6e6e6e;*/
    margin-right: -4px;
  }
  span.list{
    color: #cfcfcf;
    font-weight: 400;
  }
}
a:hover{
  text-decoration: none;
}
a.bangbang-pretty-link:hover{
  color: #333;
  /*darker: AD3D00*/
  text-shadow: 0px 0px 2px rgba(115, 235, 250, 0.75);
  span.action{
    text-decoration: underline !important; //to override frickin bootstrap
  }
  span.bangbang{
    text-decoration: none !important; //to override frickin bootstrap
  }
}

.list-pretty-link{
  font-weight: 400;
  color: #333;
  
  span{
    margin-right: -4px;
    font-weight: 900;
    /*color:#6e6e6e;*/
  }
}
.list-pretty-link:hover{
  text-shadow: 0px 0px 2px rgba(18, 77, 255, 0.75);
  span{

  }
}
.mention-pretty-link{
}    

.post{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-bottom: solid 1px #C4C4C4;

  span.small-avatar{
    float: left;
    border-radius: 500px;
    display: block;
    height: 50px;
    width: 50px;

    margin-right: 24px;
    margin-top: 0;
    overflow: hidden;

    position: relative;
    
  }

}

.post:hover{
  background-color: rgba(255, 255, 255, 0.90);
}