#feed{
  
  padding-bottom: 10px;

  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 20px;
  
}
#post_field{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  border-bottom: solid 1px #C4C4C4;
  background-color: rgba(92,92,92, 0.85);

  padding: 10px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  // padding-left: 10px;
  // padding-right: 10px;
  .action-input{
    margin-bottom: 10px;
  }
}

#posts{
  background-color: rgba(255,255,255, 0.85);
  .pretty-link{
  }
  .tag-pretty-link{

  }
  .bangbang-pretty-link{
    color: #CC4700;
  }
  .bangbang-pretty-link:hover{
    color: #CC4700;
    // darker: AD3D00
    text-shadow: 0px 0px 10px rgba(204, 71, 0, 0.75);
  }
  .mention-pretty-link{

  }     
}

.post{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-bottom: solid 1px #C4C4C4
}

.post:hover{
  background-color: rgba(255, 255, 255, 0.90);
}