// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
#list{
  h1{
    text-align: center;
  }
  ul{
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 0;
    text-align:left;
    li{
      padding-top: 5px;
      font-size: 120%;
      p{
        color: #696969;
        font-size: 80% !important;
      }
    }

  }
}