

@media (min-width: 768px){
    .navbar-navx{
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
    }
}

.navbar-default{
	background-color: rgba(0,0,0,0.5)
}


.masthead{
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	font-size: 24px;
	letter-spacing: 1px;
}

a.masthead:hover{
	text-decoration:none;
	color: #e6e6e6;

/*	-webkit-box-shadow: 0px 37px 54px -36px rgba(255,255,255,1);
	-moz-box-shadow: 0px 37px 54px -36px rgba(255,255,255,1);
	box-shadow: 0px 37px 54px -36px rgba(255,255,255,1);*/	
	text-shadow: rgb(255, 255, 255) 0px 0px 9px;
}

.dropdown-toggle{
/*	padding-top: 10px !important;*/
}

.nav-you{
	margin-left: 20px;
	padding-top: 10px;
	font-size: 80%;
	color: #b6b6b6;
	font-weight: bold;
}
.caret{
	font-size: 200%;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	text-shadow: rgb(255, 255, 255) 1px 2px 20px;
	text-shadow: rgb(255, 255, 255) 2px 1px 20px;
	color: #e6e6e6;
	border-bottom: solid white 1px;
	padding-bottom: 5px;

}

.navbar-default .navbar-nav>.active>a{
	text-shadow: rgb(255, 255, 255) 1px 2px 20px;
	text-shadow: rgb(255, 255, 255) 2px 1px 20px;
	color: #e6e6e6;
	border-bottom: solid white 1px;
	padding-bottom: 5px;
	background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: transparent;
	color: white;
}



/*.header-logo h3{
	margin-top:10px !important;
	margin-right: 25px;
}
.header-title:hover{
	color: #b6b6b6 !important;
}

.user-icon{
	background-image: url('user_icon.png');
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	opacity: .6;
	margin-top: 0px;
}
.dropdown-toggle{
	padding-top: 10px !important;
}

.nav-you{
	margin-left: 20px;
	padding-top: 10px;
	font-size: 80%;
	color: #b6b6b6;
	font-weight: bold;
}
.caret{
	font-size: 200%;
}

#ambitionspotlight_nav{
	
	background-color: #38502d;
}
.navbar-default .navbar-nav>.active{

}

.navbar-default .navbar-nav>.active>a{
	height: 50px;
	background-color: #5e7944;
}
.navbar-default .navbar-nav>.active>a:hover{

	background-color: #5e7944;
}


.navbar-default .navbar-nav>li>a{
	color: #ebebeb;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #e6e6e6;
}
nav, a:visited{
	color: #ebebeb;
}
nav, a{
	color: #ebebeb;
}*/