.header-logo h3{
	margin-top:10px !important;
	margin-right: 25px;
}
.header-title:hover{
	color: #b6b6b6 !important;
}

.user-icon{
	background-image: url('user_icon.png');
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	opacity: .6;
	margin-top: 0px;
}
.dropdown-toggle{
	padding-top: 10px !important;
}

.nav-you{
	margin-left: 20px;
	padding-top: 10px;
	font-size: 80%;
	color: #b6b6b6;
	font-weight: bold;
}
.caret{
	font-size: 200%;
}

#ambitionspotlight_nav{
	
	background-color: #38502d;
}
.navbar-default .navbar-nav>.active{

}

.navbar-default .navbar-nav>.active>a{
	height: 50px;
	background-color: #5e7944;
}
.navbar-default .navbar-nav>.active>a:hover{

	background-color: #5e7944;
}


.navbar-default .navbar-nav>li>a{
	color: #ebebeb;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #e6e6e6;
}
nav, a:visited{
	color: #ebebeb;
}
nav, a{
	color: #ebebeb;
}