.sign-up{
	margin: 10px;
	padding-top: 15px;
	border-radius: 4px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
	margin-bottom: 60px;
	background-color: rgba(0,0,0,0.5)
}

.image-field{
position:relative;
top: 0;
left: 130px;
margin-top: 10px;
}

.shared-links{
	a{
		color: #f8f8f8;
	}
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:5px;
}