.sign-up-in{
	padding: 15px;
	border-radius: 4px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
	background-color: rgba(0,0,0,0.5);
	label{
	  color:#e6e6e6;
	  text-align:center;
	  font-size: 110%;
	}
	input{
	  color: #555;
	  font-size: 110%;
	}
	input[type="submit"]{
	  color: #e6e6e6;
	}
}

.image-field{
  display:block;
  margin:auto;
  width: 200px;
  
}

.shared-links{
	a{
		color: #f8f8f8;
	}
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:5px;
}