
$round-img-border: 220px;
$round-img: $round-img-border - 20px;
$round-thumb-border: 220px;
$round-thumb: 100px;

$user-details-edit-bottom-space: 20px;

$max-form-width: 600px;

/*User activity form*/
$complete-color: #f1c40f;
$complete-text-color: #A38E39; 
$delete-color: #c0392b;
$create-color: #27ae60;


.user-fields-container{
  margin: auto;
  max-width: 600px;
}

.user-card{
/*	margin: 10px;*/
	padding-top: 15px;
	border-radius: 4px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
	margin-bottom: 60px;
	background-color: rgba(255,255,255, 0.85);
}
.user-card-container{
	padding-right: 10px;
	padding-left: 10px;
}
/*.profile-pic{
	min-height:
}*/
.social-media-box{
	/*background-color: #5e7944;*/
	background: rgba(0,0,0,0.4);
	padding: 10px;
}
.social-media-box i{
	font-size: 5em;
	margin-right:10px;
	margin-left: 10px;
}

.facebook-blue{
	color: #293e6a;
}
.twitter-blue{
	color: #4099ff;
}
.social-media-icon{
	display:block;
	width: 60px;
	height: 60px;
}

.inactive-link{
  pointer-events: none;
  cursor: default;
  color: #888;
}

h1.name{
  margin-bottom: 20px;
}

.round img {
    display: block;
/* Stretch 
      height: 100%;
      width: 100%; */
min-width: 100%;
min-height: 100%;
}

.round {
    border-radius: 50%;
    overflow: hidden;
    width: $round-img;
    height: $round-img;
}
.round-center{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.round-border{
	margin-top: 20px;
	border: solid 5px #b6b6b6;
	border-radius: 50%;
  overflow: hidden;
  width: $round-img-border;
  height: $round-img-border;
	margin: auto;
	position: relative;
	top: 0; left: 0; bottom: 0; right: 0;
	box-shadow: 0 1px 10px rgba(0,0,0,0.35);
}



/* PROFILE */
#profile_column1{
/*	width:23.5%;*/
}
#profile_column2{
/*	width: 59.5%;*/
}
.name{}
.occupation-follow{
	margin-top: 10px;
	padding: 15px;
	background-color: #e6e6e6;
}
.follow-button{
	background-color: #333;
	border: solid 1px black;

}
.follow-button a{
	font-weight: 300 !important;
	letter-spacing: 1px;
	font-size: 120%;
}
.follow-button a:hover{
	background-color: #696969;
	border: solid 1px #FFE100;
	-webkit-box-shadow: 0px 0px 100px 30px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 100px 30px rgba(255,255,255,1);
	box-shadow: 0px 0px 100px 30px rgba(255,255,255,1);
}
input.follow-button:hover{
	background-color: #696969;
	border: solid 1px #FFE100;
	-webkit-box-shadow: 0px 0px 100px 30px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 100px 30px rgba(255,255,255,1);
	box-shadow: 0px 0px 100px 30px rgba(255,255,255,1);
}



.photos-spacer{
	padding: 0;
	/*height: 100px;*/
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.story-photo{
	height: 100%;
	width: 49%;
	display:inline-block;
	margin: 0;
	

}

.occupation{
	margin-top: 20px;
	/*color: #bdbdbd;*/
/*	font-size: 150%;
	font-style: italic;*/
}
.bio{
	margin-top: 10px;
	padding: 15px;
	background-color: #e6e6e6;
}

p.bio-header{
	font-weight: 500;
	font-style: normal;
	font-size: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #696969;
}
.bio-text{
	max-width: 600px;
	margin: auto;
}
.bio-fields{
  input.bio-a{
    width: 200px;
    display:inline-block;
    margin-bottom: 5px;
    font-size: 100%;

  }
  input.bio-b{
    width: 150px;
    display:inline-block;
    margin-bottom: 5px;
    font-size: 100%;
  }
  input.bio-c{
    width: 150px;
    display:inline-block;
    margin-bottom: 5px;
    font-size: 100%;
  }
  input.bio-d{
    width: 160px;
    display:inline-block;
    margin-bottom: 5px;
    font-size: 100%;
  }
  input.bio-e{
    width: 300px;
    display:inline-block;
    margin-bottom: 5px;
    font-size: 100%;
  }
  input.bio-f{
    width: 300px;
    display:inline-block;
    margin-bottom: 5px;
    font-size: 100%;
  }
  textarea.bio-g{
    width: 400px;
    display:inline-block;
    margin-bottom: 5px;
    font-size: 100%;
  }
}

/*.ambition{
	background: rgba(0,0,0,0.4);
	padding: 15px;
	
	background: rgba(0,3,42,1);
		background: -moz-linear-gradient(left, rgba(0,3,42,1) 0%, rgba(18,22,66,0.9) 51%, rgba(18,22,66,0.98) 88%, rgba(0,3,46,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,3,42,1)), color-stop(51%, rgba(18,22,66,0.9)), color-stop(88%, rgba(18,22,66,0.98)), color-stop(100%, rgba(0,3,46,1)));
		background: -webkit-linear-gradient(left, rgba(0,3,42,1) 0%, rgba(18,22,66,0.9) 51%, rgba(18,22,66,0.98) 88%, rgba(0,3,46,1) 100%);
		background: -o-linear-gradient(left, rgba(0,3,42,1) 0%, rgba(18,22,66,0.9) 51%, rgba(18,22,66,0.98) 88%, rgba(0,3,46,1) 100%);
		background: -ms-linear-gradient(left, rgba(0,3,42,1) 0%, rgba(18,22,66,0.9) 51%, rgba(18,22,66,0.98) 88%, rgba(0,3,46,1) 100%);
		background: linear-gradient(to right, rgba(0,3,42,1) 0%, rgba(18,22,66,0.9) 51%, rgba(18,22,66,0.98) 88%, rgba(0,3,46,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00032a', endColorstr='#00032e', GradientType=1 );
}*/
/*
.ambition p{
	font-size: 200%;
	font-weight: 700;
	font-style: italic;
	color: #ededed;
	color: #f5f5f5;
	letter-spacing: 2px;
}*/

.story{
	margin-bottom: 40px;
}



.user-details-edit{
  margin: auto;
  max-width: 400px;
}
.user-details-edit i{
  color: #333;
}
.user-details-edit .form-group{
  margin-bottom: $user-details-edit-bottom-space;
}
.user-details-edit .submit{
  margin-top: $user-details-edit-bottom-space;
  margin-bottom: $user-details-edit-bottom-space;
}
.story-name-edit{
  margin-bottom: $user-details-edit-bottom-space;
}
.story-name-edit input{
  font-size: 250%;
  letter-spacing: 1px;
  font-weight: 300;
  height: 60px;
}


.story-header{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top:	10px;
	padding-bottom: 0px;
	border-bottom: solid 2px #e6e6e6;
	border-top: solid 2px #e6e6e6;
	background-color: rgba(0,0,0,0.1);
	margin-left:-15px;
	margin-right:-15px;
	color: #333;
}

/*p.ambition-header{
	font-weight: 500;
	font-style: normal;
	font-size: 100%;
	padding-bottom: 15px;
	border-bottom: solid 1px #ededed;
}*/
.story-text p{
	margin: auto;
	max-width: $max-form-width;;
	font-size: 200%;
	font-weight: 700;
	/*font-style: italic;*/
	/*color: #ededed;*/
	/*color: #f5f5f5;*/
	letter-spacing: 2px;
}
.story-text textarea{
  margin: auto;
	max-width: $max-form-width;;
	font-size: 200%;
	font-weight: 700;
	/*font-style: italic;*/
	/*color: #ededed;*/
	/*color: #f5f5f5;*/
	letter-spacing: 2px;
}
/*.current-activity{
  margin-top: 10px;
  padding: 15px;
  background-color: #e6e6e6;
}
p.current-activity-header{
  font-weight: 500;
  font-style: normal;
  font-size: 100%;
  padding-bottom: 10px;
  border-bottom: solid 1px #696969;
}*/

.current-activities textarea{
  font-size: 120%;
}

.current-activities-form{
  margin: auto;
  padding-left: 30px;
  max-width: $max-form-width;
  label.number{
    float:left;
    width: 50px;
    font-size: 18px;
    margin-right:10px;
    padding-bottom: 5px;
    padding-top: 3px;
  }
  input{
    max-width: 400px;
    float:left;
  }
  .current-activity-button{
    
  }
  input[type="submit"].add-activity{
    font-size: 40px;
    line-height: 0;
    color: #666;
    background-color: white;
    border: solid 2px white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding-top: 4px;
    padding-left: 5px;
    margin-left: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.35);
    
  }
  input[type="submit"].add-activity:hover{
    border: solid 2px $create-color;
    color: $create-color;
  }
  a.destroy-activity{
    font-size: 18px;
    padding-top: 1px;
    padding-left: 1px;
    color: #666;
    background-color: white;
    border: solid 2px white;
    border-radius: 50%;
    display:inline-block;
    
    height: 30px;
    width: 30px;

    margin-left: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.35);

  }
  a.destroy-activity:hover{
    border: solid 2px $delete-color ;
    color: $delete-color;
    text-decoration: none;
  }
  a.finish-activity{
    font-size: 18px;
    
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #666;
    background-color: white;
    border: solid 2px white;
    display: inline-block;
    height: 29px;
    margin-left: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.35);
  }
  a.finish-activity:hover{
    border: solid 2px $complete-color;
    color: $complete-text-color;
    text-decoration: none;
  }
  span.number{
    display:inline-block;
    width: 50px;
  }
  .current-activity{
    display:inline-block;
    max-width: 400px;
  }
  .title{
    font-size:120%;
    font-weight: 300;
  }
}


.story-bio textarea{
  font-size: 120%;
}

.following{
	max-width: 550px;
	margin:auto;
}

.following-header{
	padding: 15px;
	background: rgba(0,0,0,0.4);
	
	
}
p.following-header-text{
	font-weight: 500;
	font-style: normal;
	font-size: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #ededed;
	color: #f5f5f5;
}
.followers{
	background-color: #e6e6e6;
	padding-top: 20px;
	/*background: rgba(105,105,105,1);
		background: -moz-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(105,105,105,0.96) 29%, rgba(255,255,255,0.85) 99%, rgba(255,255,255,0.85) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,105,105,1)), color-stop(29%, rgba(105,105,105,0.96)), color-stop(99%, rgba(255,255,255,0.85)), color-stop(100%, rgba(255,255,255,0.85)));
		background: -webkit-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(105,105,105,0.96) 29%, rgba(255,255,255,0.85) 99%, rgba(255,255,255,0.85) 100%);
		background: -o-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(105,105,105,0.96) 29%, rgba(255,255,255,0.85) 99%, rgba(255,255,255,0.85) 100%);
		background: -ms-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(105,105,105,0.96) 29%, rgba(255,255,255,0.85) 99%, rgba(255,255,255,0.85) 100%);
		background: linear-gradient(to bottom, rgba(105,105,105,1) 0%, rgba(105,105,105,0.96) 29%, rgba(255,255,255,0.85) 99%, rgba(255,255,255,0.85) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#ffffff', GradientType=0 );*/
}
.round-thumbnail{
	border-radius: 50%;
  overflow: hidden;
  width: $round-thumb;
  height: $round-thumb;
margin: auto;
}

.follower-pic-name{
	margin: auto;
}


.cancel-account{
	margin-top: 15px;
	a{
		color:#696969;
	}
}

#follow_form{
  a{
    border: solid 1px black;
    background-color: #333;
    color: white;
  }
  a:hover{
    background-color: #696969;
  }
}







