.as-leader{
	width:150px;
	height:150px;
	background-color:white;
}

.as-leader h1{
	color:green;
	text-align:center;
	margin-top:10px;
}

.leader-task{
	width:300px;
	height:150px;
	background-color:white;
	border: solid 2px red;
}

