.text-center.footer-social
  %p Follow us on #{link_to 'Facebook', "https://www.facebook.com/SuaveFx"} and #{link_to 'Twitter', "https://twitter.com/SuaveFx"}
  / = link_to '<i class="fa fa-facebook fa-2x"></i>'.html_safe, "https://www.facebook.com/SuaveFx"
  / = link_to '<i class="fa fa-twitter fa-2x"></i>'.html_safe, "https://twitter.com/SuaveFx"
