%nav.navbar.nav-area.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .row
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{ type: "button", "data-toggle" => "collapse", "data-target" => "#readthis_nav"}
          / %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .header-logo
          %h3.pull-left #{link_to "Suave", root_path, :class => "header-title"}  
      / Collect the nav links, forms, and other content for toggling
      #readthis_nav.collapse.navbar-collapse
        %ul.nav.navbar-nav 
          / %ul#nav_pill_section.nav.nav-pills.navbar-right.colored-pills 
          /%li{:class => "#{'active' if current_page?(root_path)} smoothScroll"}=link_to "Home", root_path
          %li{:class => "#{'active' if current_page?(about_path)}"}=link_to "ABOUT", about_path

          
          -if user_signed_in?

            %li{:class => "#{'active' if current_page?(user_path(current_user))} dropdown"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}        
                /=image_tag "user_icon.png", class: "user-icon"
                .user-icon.pull-left
                %b.caret
              %ul.dropdown-menu
                %p.nav-you YOU
                %li
                  =link_to current_user.name, user_path(current_user)
                / %li
                /   =link_to "Settings", user_settings_path
                / %li
                /   = link_to "Sign Up", new_user_registration_path
                %li
                  =link_to 'Edit Profile', edit_user_registration_path(current_user)
                %li
                  =link_to "Sign out", destroy_user_session_path, :method => :delete
                      
            / %li
            /   =link_to "SIGN OUT", destroy_user_session_path, :method => :delete
          -else
            %li
              =link_to "SIGN UP", new_user_registration_path
            / %li
            /   = link_to "Sign Up", new_user_registration_path
            %li
              =link_to "SIGN IN", new_user_session_path

