/Trending Actions
.trending.card
  =render 'pages/trending_actions'

/Lists
/render top 3 lists
.lists.card
  =render 'pages/trending_lists'

/Leaders
/render top 3 local leaders
.leaders.card
  =render 'pages/local_leaders'